@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

.font-poppins {
    font-family: 'Poppins', sans-serif !important;
}
.font-times {
  font-family: 'Roboto', 'Times New Roman', Times, serif !important;
}

.custom-text {
    color: #050748 !important;
  }
  .text-custom {
    color: #050748;
  }

  .bg-custom{
    background: #050748;
    
  }
  .bg1-custom{
    background: #07142B;
    
  }
  .max-w-1260 {
    max-width: 1460px;
  }
  /* Add this to your CSS file */
.text-gradient {
  background: linear-gradient(to right, #92400e, #ef4444); /* yellow-800 to red-500 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skip-bg {
  background: #388E3C;

}

